.Todo {
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(231, 231, 231);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .todo-checkbox {
        padding-left: 4px;
        margin-left: 16px;
    }

    .planned-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: 8px;
        padding: 8px 12px;
        background-color: #f5f5f5;
        color: #7b7b7b;
    }
}
